@font-face {
    font-family: RalewayBlack;
    src: url('../fonts/RalewayBlack.ttf');
}

@font-face {
    font-family: RalewayBold;
    src: url('../fonts/RalewayBold.ttf');
}

@font-face {
    font-family: RalewayMedium;
    src: url('../fonts/RalewayMedium.ttf');
}

@font-face {
    font-family: ANTONIO-REGULAR_0;
    src: url('../fonts/ANTONIO-REGULAR_0.TTF');
}


